.card {
    width: 19%;
    display: block;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 15px;
    height: 25vh;
    align-items: center;
    text-align: center;
    margin: 0.5%;
}

.card h3{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card img {
    width: 100%;
    height: 50%;
}

.card button {
    background-color: teal;
    border-radius: 10px;
    padding: 5px;
    height: 20%;
    width: 70%;
    margin: 5%;
}

.card button a {
    color: white;
    text-decoration: none;
}